In [1]:
import numpy as np
import pandas as pd
from pandas.io.json import json_normalize

In [2]:
df = pd.read_csv('ted_main.csv')

In [3]:
df.head()

,comments,description,duration,event,film_date,languages,main_speaker,name,num_speaker,published_date,ratings,related_talks,speaker_occupation,tags,title,url,views
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,1140825600,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 19645}, {...","[{'id': 865, 'hero': 'https://pe.tedcdn.com/im...",Author/educator,"['children', 'creativity', 'culture', 'dance',...",Do schools kill creativity?,https://www.ted.com/talks/ken_robinson_says_sc...,47227110
1,265,With the same humor and humanity he exuded in ...,977,TED2006,1140825600,43,Al Gore,Al Gore: Averting the climate crisis,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 544}, {'i...","[{'id': 243, 'hero': 'https://pe.tedcdn.com/im...",Climate advocate,"['alternative energy', 'cars', 'climate change...",Averting the climate crisis,https://www.ted.com/talks/al_gore_on_averting_...,3200520
2,124,New York Times columnist David Pogue takes aim...,1286,TED2006,1140739200,26,David Pogue,David Pogue: Simplicity sells,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 964}, {'i...","[{'id': 1725, 'hero': 'https://pe.tedcdn.com/i...",Technology columnist,"['computers', 'entertainment', 'interface desi...",Simplicity sells,https://www.ted.com/talks/david_pogue_says_sim...,1636292
3,200,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,1140912000,35,Majora Carter,Majora Carter: Greening the ghetto,1,1151367060,"[{'id': 3, 'name': 'Courageous', 'count': 760}...","[{'id': 1041, 'hero': 'https://pe.tedcdn.com/i...",Activist for environmental justice,"['MacArthur grant', 'activism', 'business', 'c...",Greening the ghetto,https://www.ted.com/talks/majora_carter_s_tale...,1697550
4,593,You've never seen data presented like this. Wi...,1190,TED2006,1140566400,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,1,1151440680,"[{'id': 9, 'name': 'Ingenious', 'count': 3202}...","[{'id': 2056, 'hero': 'https://pe.tedcdn.com/i...",Global health expert; data visionary,"['Africa', 'Asia', 'Google', 'demo', 'economic...",The best stats you've ever seen,https://www.ted.com/talks/hans_rosling_shows_t...,12005869

In [4]:
df.film_date = pd.to_datetime(df.film_date,unit='s')
df = df[df.film_date.isin(pd.date_range(start='1/1/2010', end='12/31/2017'))]

In [5]:
df.related_talks = df.related_talks.apply(eval)

In [6]:
related_talks = {}

for i, talks in enumerate(df.related_talks):
    related_talks[i] = []
    
    for talk in talks:
        related_talks[i].append(talk['title'])

In [7]:
pairs = set()

titles = df.title.unique()

for i, talks in enumerate(df.related_talks):
    
    for talk in talks:
        
        if (titles[i],talk['title']) not in pairs \
            and (talk['title'],titles[i]) not in pairs \
            and talk['title'] in titles:
            
            pairs.add((titles[i],talk['title']))

In [8]:
df.tags = df.tags.apply(eval)
df_tags = pd.get_dummies(df.tags.apply(pd.Series).stack()).sum(level=0)

In [9]:
nodes = pd.concat([df.title,df_tags],axis=1).reset_index()
nodes.rename(columns={'title':'label'},inplace=True)
tilte2idx = nodes.set_index('label')['index'].to_dict()

In [10]:
edges = pd.DataFrame(pairs,columns=['Talk1','Talk2'])
edges.Talk1 = edges.Talk1.apply(lambda x: tilte2idx[x])
edges.Talk2 = edges.Talk2.apply(lambda x: tilte2idx[x])

In [11]:
nodes.to_csv('nodes.csv',index=None)
edges.to_csv('edges.csv',index=None)